<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8" />
<meta content="width=device-width" name="viewport" />
<title>{{ page.title }}</title>
<meta content="summary_large_image" name="twitter:card" />
<meta content="website" property="og:type" />
<meta content="{{ page.description }}" property="og:description" />
<meta content="" property="og:url" />
<meta content="{{ page.image }}" property="og:image" />
<meta content="{{ page.title }}" property="og:title" />
<meta content="{{ page.description }}" name="description" />
<link href="img/style.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700" rel="stylesheet" type="text/css" />
<!-- favicon d1oco4z2z1fhwp d15k2d11r6t6rl -->
<link rel="alternate icon" class="js-site-favicon" type="image/png" href="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4ec/32.png" />
<link rel="shortcut icon" href="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4ec/32.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4ec/32.png" />
</head>
