<!-- header.html inicio -->
<div class="preheader" style="display: none; font-size: 1px; color: #333333; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">{{ post.title }}</div>
<div class="gcr-page-container">
<div class="gcr-linha gcr-linha-1">
<div class="gcr-linha-content">
<div class="gcr-col gcr-col-1 gcr-col-w12">
<div class="gcr-bloco gcr-bloco-1 gcr-spacer">
<div class="spacer" style="height: 22px;"></div>
</div>
<div class="gcr-bloco gcr-bloco-2 gcr-image">
<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" target="_self"><img alt="avatar" class="gcr-center gcr-fixedwidth" src="https://avatars.githubusercontent.com/u/6352393?v=4" style="max-width: 80px; border-radius: 100px;" /></a>
</div>
<div class="gcr-bloco gcr-bloco-3 gcr-heading">
<h1><span class="pequeno-espaco">{{ post.title }}</span></h1>
</div>
